<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alpha-blog Index</title>
</head>
<body>
  <h1 class="text-center mt-4">Article Listings</h1>
  <% @articles.each do |article| %>
    <div class="card m-2 mx-auto" style="min-width: 50%; max-width: 80%">
      <div class="card-header text-center">
        <%= article.title %>
      </div>
      <div class="card-body text-center">
        <blockquote class="blockquote mb-0">
          <p><%= article.description %></p>
          <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
        <button class="btn btn-success mt-3">My button</button>
      </div>
    </div>
  <% end %>
 
</body>
