@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#navbrand {
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  color: white !important;
}

.navbar-toggler {
  background-color: grey !important;
}

.dropdown-menu {
  background-color: black !important;
}

.dropdown-item {
  background-color: black !important;
  color: white !important;
}

.nav-link.disabled {
  color: grey !important;
}
