<div class="container">
  <h1 class="text-center mt-4">Create a new Category!</h1>
</div>
<%= render 'shared/errors', obj: @category %>
<%= render 'form' %>
  
<div class="text-center mt-3 mb-3">
  <%= link_to 'Cancel and return to articles listing', articles_path, class: "text-info" %> 
</div>
